<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='certificates.css')}}">
    <link rel="icon" href="../static/logo/halfLogoPortfolioV2Removebg.png">
    <title>rgndunes</title>
</head>

<body>

    <!-- NAVBAR -->
    <nav>
        <input type="checkbox" id="check">
        <label for="check" class="checkbtn">
            <i class="fas fa-bars">+</i>
        </label>
        <label class="logo"><img src="../static/logo/halfLogoPortfolioV2Removebg.png" alt=""></label>
        <ul>
            <li><a href="/" class="active rgndunes">rgndunes</a></li>
            <li><a href="/certificates">Certifications</a></li>
            <li><a href="/projects">Projects</a></li>
            <li><a href="/hobby">Hobby</a></li>
            <li><a href="/resume">Resume</a></li>
            <li><a href="/contact">Contact Me</a></li>
        </ul>
    </nav>

    <!-- BODY -->
    <div class="section">
        <div class="heading">Certificates</div>
        <div class="cards">
            <div class="card hpsIntermediate">
                <img src="../static/certificates/hpsIntermediate.png" alt="">
                <p>
                    <span class="certHeading">Hackerrank Problem Solving Intermediate</span></p>
            </div>
            <div class="card hpsBasic">
                <img src="../static/certificates/hpsBasic.jpg" alt="">
                <p>
                    <span class="certHeading">Hackerrank Problem Solving Basic</span></p>
            </div>
        </div>

        <div class="cards">

            <div class="card hashCode">
                <img src="../static/certificates/hashCode.png" alt="">
                <p><span class="certHeading">Google Hash Code 2020</span></p>
            </div>
            <div class="card hpBasic">
                <img src="../static/certificates/hpBasic.png" alt="">
                <p><span class="certHeading">Hackerrank Python Basic</span></p>
            </div>
        </div>

        <div class="cards">

            <div class="card globalshala">
                <img src="../static/certificates/globalshala.png" alt="">
                <p>
                    <span class="certHeading">Globalshala 2.0 Hackathon</span></p>
            </div>
            <div class="card ui_ux">
                <img src="../static/certificates/taghive.png" alt="">
                <p><span class="certHeading">UI/UX Developer Intern @Taghive</span></p>
            </div>
        </div>
    </div>

    <!-- FOOTER -->
    <footer>
        <div class="footer_bottom">
            Copyright &copy; rgndunes. All rights reserved.
        </div>
    </footer>

</body>

</html>