<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='hobby.css')}}">
    <title>rgndunes</title>
</head>

<body>

    <!-- NAVBAR -->
    <nav>
        <input type="checkbox" id="check">
        <label for="check" class="checkbtn">
            <i class="fas fa-bars">+</i>
        </label>
        <label class="logo">rgndunes</label>
        <ul>
            <li><a href="/" class="active rgndunes">rgndunes</a></li>
            <li><a href="/certificates">Certifications</a></li>
            <li><a href="/projects">Projects</a></li>
            <li><a href="/hobby">Hobby</a></li>
            <li><a href="/resume">Resume</a></li>
            <li><a href="/contact">Contact Me</a></li>
        </ul>
    </nav>

    <!-- BODY -->
    <div class="container">
        <div class="switch">
            <div class="item">
                <a href="#coins">Coin Collection</a>
            </div>
            <div class="item">
                <a href="#mobPhotography">Mobile Photography</a>
            </div>
        </div>
        <hr style="height:2px;border-width:0;background-color:blueviolet;border-radius:50%;width:70%;" /><br/>
        <div class="coins" id="coins">
            <div class="section">
                <div class="heading">Paise Section</div>
                <div class="content">
                    <div class="row">
                        <div class="coin">
                            <img src="../static/hobby/coins/10pnew.png" alt="">
                            <p>10 Paise</p>
                        </div>
                        <div class="coin">
                            <img src="../static/hobby/coins/10pold.png" alt="">
                            <p>10 Paise</p>
                        </div>
                        <div class="coin">
                            <img src="../static/hobby/coins/1quaanna.png" alt="">
                            <p>1 Quarter Anna</p>
                        </div>
                        <div class="coin">
                            <img src="../static/hobby/coins/1quaanna_rev.png" alt="">
                            <p>1 Quarter Anna</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="coin">
                            <img src="../static/hobby/coins/20p.png" alt="">
                            <p>20 Paise</p>
                        </div>
                        <div class="coin">
                            <img src="../static/hobby/coins/25old.png" alt="">
                            <p>25 Paise</p>
                        </div>
                        <div class="coin">
                            <img src="../static/hobby/coins/25oldrev.png" alt="">
                            <p>25 Paise</p>
                        </div>
                        <div class="coin">
                            <img src="../static/hobby/coins/25p.png" alt="">
                            <p>25 Paise</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="coin">
                            <img src="../static/hobby/coins/2p.png" alt="">
                            <p>2 Paise</p>
                        </div>
                        <div class="coin">
                            <img src="../static/hobby/coins/3p.png" alt="">
                            <p>3 Paise</p>
                        </div>
                        <div class="coin">
                            <img src="../static/hobby/coins/50pnew.png" alt="">
                            <p>50 Paise</p>
                        </div>
                        <div class="coin">
                            <img src="../static/hobby/coins/50pold.png" alt="">
                            <p>50 Paise</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="section">
                <div class="heading">1 Rupee Section</div>
                <div class="content">
                    <div class="row">
                        <div class="coin">
                            <img src="../static/hobby/coins/1_cellularjail_portblair.png" alt="">
                            <p>Cellular Jail</p>
                        </div>
                        <div class="coin">
                            <img src="../static/hobby/coins/1_international_year_of_the_family.png" alt="">
                            <p>Family International Year</p>
                        </div>
                        <div class="coin">
                            <img src="../static/hobby/coins/1_loknayak_jayprakash_narayan.png" alt="">
                            <p>Jayprakash Narayan</p>
                        </div>
                        <div class="coin">
                            <img src="../static/hobby/coins/1_rbi.png" alt="">
                            <p>Reserve Bank of India</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="coin">
                            <img src="../static/hobby/coins/1_saint_thiruvalluvar.png" alt="">
                            <p>Saint Thiruvalluvar</p>
                        </div>
                        <div class="coin">
                            <img src="../static/hobby/coins/1re_mid2.png" alt="">
                            <p>Old Mid Age</p>
                        </div>
                        <div class="coin">
                            <img src="../static/hobby/coins/1re_old.png" alt="">
                            <p>Old and Big</p>
                        </div>
                        <div class="coin">
                            <img src="../static/hobby/coins/1re_old2.png" alt="">
                            <p>Old</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="section">
                <div class="heading">2 Rupee Section</div>
                <div class="content">
                    <div class="row">
                        <div class="coin">
                            <img src="../static/hobby/coins/2_chittaranjan_das.png" alt="">
                            <p>Chittaranjan Das</p>
                        </div>
                        <div class="coin">
                            <img src="../static/hobby/coins/2_louis_braille.png" alt="">
                            <p>Louis Braille</p>
                        </div>
                        <div class="coin">
                            <img src="../static/hobby/coins/2_sardar_vallabhbhai_patel.png" alt="">
                            <p>Vallabhbhai Patel</p>
                        </div>
                        <div class="coin">
                            <img src="../static/hobby/coins/2_sri_aurobindo_all_life_is_yoga.png" alt="">
                            <p>Sri Aurobindo</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="section">
                <div class="heading">5 Rupee Section</div>
                <div class="content">
                    <div class="row">
                        <div class="coin">
                            <img src="../static/hobby/coins/5_bhagat_singh.png" alt="">
                            <p>Bhagat Singh</p>
                        </div>
                        <div class="coin">
                            <img src="../static/hobby/coins/5_bhagwan_mahavir_2600_janm_kalyanak.png" alt="">
                            <p>Bhagwan Mahavir</p>
                        </div>
                        <div class="coin">
                            <img src="../static/hobby/coins/5_comptroller_and_auditor_general_of_india.png" alt="">
                            <p>Comptroller and Auditor General</p>
                        </div>
                        <div class="coin">
                            <img src="../static/hobby/coins/5_dandi_march.png" alt="">
                            <p>Dandi March</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="coin">
                            <img src="../static/hobby/coins/5_indian_council_of_medical_research.png" alt="">
                            <p>Council of Medical Research</p>
                        </div>
                        <div class="coin">
                            <img src="../static/hobby/coins/5_indian_parliament.png" alt="">
                            <p>Indian Parliament</p>
                        </div>
                        <div class="coin">
                            <img src="../static/hobby/coins/5_mata_vaishno_devi_shrine.png" alt="">
                            <p>Vaishno Devi</p>
                        </div>
                        <div class="coin">
                            <img src="../static/hobby/coins/5_maulana_abul_kalam_azad.png" alt="">
                            <p>Maulana Abul Kalam Azad</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="coin">
                            <img src="../static/hobby/coins/5_mother_teresa.png" alt="">
                            <p>Mother Teresa</p>
                        </div>
                        <div class="coin">
                            <img src="../static/hobby/coins/5_mothers_heallth_is_childs_health.png" alt="">
                            <p>Mother's Health is Child's Health</p>
                        </div>
                        <div class="coin">
                            <img src="../static/hobby/coins/5_ongc50.png" alt="">
                            <p>ONGC</p>
                        </div>
                        <div class="coin">
                            <img src="../static/hobby/coins/5_rabindranath_t.png" alt="">
                            <p>Rabindranath Tagore</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="coin">
                            <img src="../static/hobby/coins/5_swami_vivekanand.png" alt="">
                            <p>Swami Vivekanand</p>
                        </div>
                        <div class="coin">
                            <img src="../static/hobby/coins/5_un_anni_50.png" alt="">
                            <p>UN 50th Anniversary</p>
                        </div>
                        <div class="coin">
                            <img src="../static/hobby/coins/5_word_of_work.png" alt="">
                            <p>ILO</p>
                        </div>
                        <div class="coin">
                            <img src="../static/hobby/coins/5re_new.png" alt="">
                            <p>New</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr style="height:2px;border-width:0;background-color:blueviolet;border-radius:50%;width:90%;" /><br/>
        <div class="mobPhotography" id="mobPhotography">
            <div class="containerMob">
                <div class="image">
                    <h1>19/02/2021</h1>
                    <img src="../static/hobby/mobPhotography/1.jpg" alt="">
                </div>
                <div class="image">
                    <h1>19/02/2021</h1>
                    <img src="../static/hobby/mobPhotography/2.jpg" alt="">
                </div>
                <div class="image">
                    <h1>26/12/2020</h1>
                    <img src="../static/hobby/mobPhotography/3.jpg" alt="">
                </div>
                <div class="image">
                    <h1>02/01/2020</h1>
                    <img src="../static/hobby/mobPhotography/4.jpg" alt="">
                </div>
                <div class="image">
                    <h1>18/12/2019</h1>
                    <img src="../static/hobby/mobPhotography/5.jpg" alt="">
                </div>
                <div class="image">
                    <h1>18/12/2019</h1>
                    <img src="../static/hobby/mobPhotography/6.jpg" alt="">
                </div>
                <div class="image">
                    <h1>07/11/2019</h1>
                    <img src="../static/hobby/mobPhotography/7.jpg" alt="">
                </div>
                <div class="image">
                    <h1>07/11/2019</h1>
                    <img src="../static/hobby/mobPhotography/8.jpg" alt="">
                </div>
                <div class="image">
                    <h1>27/10/2019</h1>
                    <img src="../static/hobby/mobPhotography/9.jpg" alt="">
                </div>
                <div class="image">
                    <h1>05/09/2019</h1>
                    <img src="../static/hobby/mobPhotography/10.jpg" alt="">
                </div>
                <div class="image">
                    <h1>02/09/2019</h1>
                    <img src="../static/hobby/mobPhotography/11.jpg" alt="">
                </div>
                <div class="image">
                    <h1>02/01/2020</h1>
                    <img src="../static/hobby/mobPhotography/12.jpg" alt="">
                </div>
                <div class="image">
                    <h1>07/12/2019</h1>
                    <img src="../static/hobby/mobPhotography/13.jpg" alt="">
                </div>
                <div class="image">
                    <h1>23/10/2019</h1>
                    <img src="../static/hobby/mobPhotography/14.jpg" alt="">
                </div>
                <div class="image">
                    <h1>20/10/2019</h1>
                    <img src="../static/hobby/mobPhotography/15.jpg" alt="">
                </div>
                <div class="image">
                    <h1>08/10/2019</h1>
                    <img src="../static/hobby/mobPhotography/16.jpg" alt="">
                </div>
                <div class="image">
                    <h1>20/09/2019</h1>
                    <img src="../static/hobby/mobPhotography/17.jpg" alt="">
                </div>
            </div>
        </div>
    </div>

    <!-- FOOTER -->
    <footer>
        <div class="footer_bottom">
            Copyright &copy; rgndunes. All rights reserved.
        </div>
    </footer>

</body>

</html>