<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='hobby.css')}}">
    <link rel="icon" href="../static/logo/halfLogoPortfolioV2Removebg.png">
    <title>rgndunes</title>
</head>

<body>

    <!-- NAVBAR -->
    <nav>
        <input type="checkbox" id="check">
        <label for="check" class="checkbtn">
            <i class="fas fa-bars">+</i>
        </label>
        <label class="logo"><img src="../static/logo/halfLogoPortfolioV2Removebg.png" alt=""></label>
        <ul>
            <li><a href="/" class="active">Home</a></li>
            <li><a href="/certificates">Certifications</a></li>
            <li><a href="/projects">Projects</a></li>
            <li><a href="/hobby">Hobby</a></li>
            <li><a href="/resume">Resume</a></li>
            <li><a href="/contact">Contact Me</a></li>
        </ul>
    </nav>

    <!-- BODY -->
    <div class="container">
        <div class="switch">
            <div class="item coinItem" id="coinItem">
                <a href="#" onClick="coinClicked()">Coin Collection</a>
            </div>
            <div class="item mobPhotoItem" id="mobPhotoItem">
                <a href="#" onClick="mobClicked()">Mobile Photography</a>
            </div>
        </div>
        <hr style="height:2px;border-width:0;background-color:blueviolet;border-radius:50%;width:70%;" /><br/>
        <div class="coins" id="coins">
            <div class="coinSection">Paise Section</div>
            <div class="containerCoin">
                <div class="image coin">
                    <h1>10 Paise</h1>
                    <img src="../static/hobby/coins/10pnew.png" alt="">
                </div>
                <div class="image coin">
                    <img src="../static/hobby/coins/10pold.png" alt="">
                    <h1>10 Paise</h1>
                </div>
                <div class="image coin">
                    <h1>1 Quarter Anna</h1>
                    <img src="../static/hobby/coins/1quaanna.png" alt="">
                </div>
                <div class="image coin">
                    <h1>1 Quarter Anna</h1>
                    <img src="../static/hobby/coins/1quaanna_rev.png" alt="">
                </div>
                <div class="image coin">
                    <h1>20 Paise</h1>
                    <img src="../static/hobby/coins/20p.png" alt="">
                </div>
                <div class="image coin">
                    <h1>25 Paise</h1>
                    <img src="../static/hobby/coins/25old.png" alt="">
                </div>
                <div class="image coin">
                    <h1>25 Paise</h1>
                    <img src="../static/hobby/coins/25oldrev.png" alt="">
                </div>
                <div class="image coin">
                    <h1>25 Paise</h1>
                    <img src="../static/hobby/coins/25p.png" alt="">
                </div>
                <div class="image coin">
                    <h1>2 Paise</h1>
                    <img src="../static/hobby/coins/2p.png" alt="">
                </div>
                <div class="image coin">
                    <h1>3 Paise</h1>
                    <img src="../static/hobby/coins/3p.png" alt="">
                </div>
                <div class="image coin">
                    <h1>50 Paise</h1>
                    <img src="../static/hobby/coins/50pnew.png" alt="">
                </div>
                <div class="image coin">
                    <h1>50 Paise</h1>
                    <img src="../static/hobby/coins/50pold.png" alt="">
                </div>
            </div>

            <div class="coinSection">1 Rupee Section</div>
            <div class="containerCoin">
                <div class="image coin">
                    <h1>Cellular Jail</h1>
                    <img src="../static/hobby/coins/1_cellularjail_portblair.png" alt="">
                </div>
                <div class="image coin">
                    <h1>Family International Year</h1>
                    <img src="../static/hobby/coins/1_international_year_of_the_family.png" alt="">
                </div>
                <div class="image coin">
                    <h1>Jayprakash Narayan</h1>
                    <img src="../static/hobby/coins/1_loknayak_jayprakash_narayan.png" alt="">
                </div>
                <div class="image coin">
                    <h1>Reserve Bank of India</h1>
                    <img src="../static/hobby/coins/1_rbi.png" alt="">
                </div>
                <div class="image coin">
                    <h1>Saint Thiruvalluvar</h1>
                    <img src="../static/hobby/coins/1_saint_thiruvalluvar.png" alt="">
                </div>
                <div class="image coin">
                    <h1>Old Mid Age</h1>
                    <img src="../static/hobby/coins/1re_mid2.png" alt="">
                </div>
                <div class="image coin">
                    <h1>Old and Big</h1>
                    <img src="../static/hobby/coins/1re_old.png" alt="">
                </div>
                <div class="image coin">
                    <h1>Old</h1>
                    <img src="../static/hobby/coins/1re_old2.png" alt="">
                </div>
            </div>

            <div class="coinSection">2 Rupee Section</div>
            <div class="containerCoin">
                <div class="image coin">
                    <h1>Chittaranjan Das</h1>
                    <img src="../static/hobby/coins/2_chittaranjan_das.png" alt="">
                </div>
                <div class="image coin">
                    <h1>Louis Braille</h1>
                    <img src="../static/hobby/coins/2_louis_braille.png" alt="">
                </div>
                <div class="image coin">
                    <h1>Vallabhbhai Patel</h1>
                    <img src="../static/hobby/coins/2_sardar_vallabhbhai_patel.png" alt="">
                </div>
                <div class="image coin">
                    <h1>Sri Aurobindo</h1>
                    <img src="../static/hobby/coins/2_sri_aurobindo_all_life_is_yoga.png" alt="">
                </div>
            </div>

            <div class="coinSection">5 Rupee Section</div>
            <div class="containerCoin">
                <div class="image coin">
                    <h1>Bhagat Singh</h1>
                    <img src="../static/hobby/coins/5_bhagat_singh.png" alt="">
                </div>
                <div class="image coin">
                    <h1>Bhagwan Mahavir</h1>
                    <img src="../static/hobby/coins/5_bhagwan_mahavir_2600_janm_kalyanak.png" alt="">
                </div>
                <div class="image coin">
                    <h1>Comptroller and Auditor General</h1>
                    <img src="../static/hobby/coins/5_comptroller_and_auditor_general_of_india.png" alt="">
                </div>
                <div class="image coin">
                    <h1>Dandi March</h1>
                    <img src="../static/hobby/coins/5_dandi_march.png" alt="">
                </div>
                <div class="image coin">
                    <h1>Council of Medical Research</h1>
                    <img src="../static/hobby/coins/5_indian_council_of_medical_research.png" alt="">
                </div>
                <div class="image coin">
                    <h1>Indian Parliament</h1>
                    <img src="../static/hobby/coins/5_indian_parliament.png" alt="">
                </div>
                <div class="image coin">
                    <h1>Vaishno Devi</h1>
                    <img src="../static/hobby/coins/5_mata_vaishno_devi_shrine.png" alt="">
                </div>
                <div class="image coin">
                    <h1>Maulana Abul Kalam Azad</h1>
                    <img src="../static/hobby/coins/5_maulana_abul_kalam_azad.png" alt="">
                </div>
                <div class="image coin">
                    <h1>Mother Teresa</h1>
                    <img src="../static/hobby/coins/5_mother_teresa.png" alt="">
                </div>
                <div class="image coin">
                    <h1>Mother's Health is Child's Health</h1>
                    <img src="../static/hobby/coins/5_mothers_heallth_is_childs_health.png" alt="">
                </div>
                <div class="image coin">
                    <h1>ONGC</h1>
                    <img src="../static/hobby/coins/5_ongc50.png" alt="">
                </div>
                <div class="image coin">
                    <h1>Rabindranath Tagore</h1>
                    <img src="../static/hobby/coins/5_rabindranath_t.png" alt="">
                </div>
                <div class="image coin">
                    <h1>Swami Vivekanand</h1>
                    <img src="../static/hobby/coins/5_swami_vivekanand.png" alt="">
                </div>
                <div class="image coin">
                    <h1>UN 50th Anniversary</h1>
                    <img src="../static/hobby/coins/5_un_anni_50.png" alt="">
                </div>
                <div class="image coin">
                    <h1>ILO</h1>
                    <img src="../static/hobby/coins/5_word_of_work.png" alt="">
                </div>
                <div class="image coin">
                    <h1>New</h1>
                    <img src="../static/hobby/coins/5re_new.png" alt="">
                </div>
            </div>
        </div>

        <!-- <hr style="height:2px;border-width:0;background-color:blueviolet;border-radius:50%;width:90%;" /><br/> -->

        <div class="mobPhotography" id="mobPhotography">
            <div class="containerMob">
                <div class="image">
                    <h1>19/02/2021</h1>
                    <img src="../static/hobby/mobPhotography/1.jpg" alt="">
                </div>
                <div class="image">
                    <h1>19/02/2021</h1>
                    <img src="../static/hobby/mobPhotography/2.jpg" alt="">
                </div>
                <div class="image">
                    <h1>26/12/2020</h1>
                    <img src="../static/hobby/mobPhotography/3.jpg" alt="">
                </div>
                <div class="image">
                    <h1>02/01/2020</h1>
                    <img src="../static/hobby/mobPhotography/4.jpg" alt="">
                </div>
                <div class="image">
                    <h1>18/12/2019</h1>
                    <img src="../static/hobby/mobPhotography/5.jpg" alt="">
                </div>
                <div class="image">
                    <h1>18/12/2019</h1>
                    <img src="../static/hobby/mobPhotography/6.jpg" alt="">
                </div>
                <div class="image">
                    <h1>07/11/2019</h1>
                    <img src="../static/hobby/mobPhotography/7.jpg" alt="">
                </div>
                <div class="image">
                    <h1>07/11/2019</h1>
                    <img src="../static/hobby/mobPhotography/8.jpg" alt="">
                </div>
                <div class="image">
                    <h1>27/10/2019</h1>
                    <img src="../static/hobby/mobPhotography/9.jpg" alt="">
                </div>
                <div class="image">
                    <h1>05/09/2019</h1>
                    <img src="../static/hobby/mobPhotography/10.jpg" alt="">
                </div>
                <div class="image">
                    <h1>02/09/2019</h1>
                    <img src="../static/hobby/mobPhotography/11.jpg" alt="">
                </div>
                <div class="image">
                    <h1>02/01/2020</h1>
                    <img src="../static/hobby/mobPhotography/12.jpg" alt="">
                </div>
                <div class="image">
                    <h1>07/12/2019</h1>
                    <img src="../static/hobby/mobPhotography/13.jpg" alt="">
                </div>
                <div class="image">
                    <h1>23/10/2019</h1>
                    <img src="../static/hobby/mobPhotography/14.jpg" alt="">
                </div>
                <div class="image">
                    <h1>20/10/2019</h1>
                    <img src="../static/hobby/mobPhotography/15.jpg" alt="">
                </div>
                <div class="image">
                    <h1>08/10/2019</h1>
                    <img src="../static/hobby/mobPhotography/16.jpg" alt="">
                </div>
                <div class="image">
                    <h1>20/09/2019</h1>
                    <img src="../static/hobby/mobPhotography/17.jpg" alt="">
                </div>
            </div>
        </div>
    </div>

    <!-- FOOTER -->
    <footer>
        <div class="footer_bottom">
            Copyright &copy; rgndunes. All rights reserved.
        </div>
    </footer>

    <script>
        const coinDiv = document.getElementById("coins");
        const mobDiv = document.getElementById("mobPhotography");

        const coinItem = document.getElementById("coinItem");
        const mobPhotoItem = document.getElementById("mobPhotoItem");

        const coinItem_a = coinItem.getElementsByTagName("a");
        const mobPhotoItem_a = mobPhotoItem.getElementsByTagName("a");

        coinDiv.style.display = "block";
        mobDiv.style.display = "none";

        function coinClicked() {
            // console.log("coinClicked");
            coinDiv.style.display = "block";
            mobDiv.style.display = "none";
            coinItem_a.style.color = "#0033FF";
            mobPhotoItem_a.style.color = "blueviolet";

        }

        function mobClicked() {
            // console.log("mobClicked");
            mobDiv.style.display = "block";
            coinDiv.style.display = "none";
            mobPhotoItem_a.style.color = "#0033FF";
            coinItem_a.style.color = "blueviolet";

        }
    </script>

</body>

</html>