<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='index.css')}}">
    <link rel="icon" href="../static/logo/halfLogoPortfolioV2Removebg.png">
    <title>rgndunes</title>
</head>

<body>

    <!-- NAVBAR -->
    <nav>
        <input type="checkbox" id="check">
        <label for="check" class="checkbtn">
            <i class="fas fa-bars">+</i>
        </label>
        <label class="logo"><img src="../static/logo/halfLogoPortfolioV2Removebg.png" alt=""></label>
        <ul>
            <li><a href="/" class="active">Home</a></li>
            <li><a href="/certificates">Certifications</a></li>
            <li><a href="/projects">Projects</a></li>
            <li><a href="/hobby">Hobby</a></li>
            <li><a href="/resume">Resume</a></li>
            <li><a href="/contact">Contact Me</a></li>
        </ul>
    </nav>

    <!-- BODY -->
    <div class="body">
        <div class="main">
            <div class="section1">
                <p>Hey,<br/>
                    <span class="section1Name">Divyansh Singh</span> this side or can call me <span class="section1NickName">rgndunes</span> . I'm a <span class="section1NickName">Full Stack Developer</span> and also a constant learner.
                </p>
                <img src="../static/images/black_white.jpeg" alt="" width="400px" height="auto">
            </div>
        </div>
        <div class="experience exSocial">Social Links</div>
        <div class="section1 social">
            <!-- <p> -->
            <div class="moreProjects">
                <a href="https://github.com/RgnDunes" target="_blank"><button class="btn btnOfferLetter">Github</button></a>
            </div>
            <div class="moreProjects">
                <a href="https://www.linkedin.com/in/rgndunes/" target="_blank"><button class="btn btnOfferLetter">LinkedIn</button></a>
            </div>
            <div class="moreProjects">
                <a href="https://www.codechef.com/users/tachanka" target="_blank"><button class="btn btnOfferLetter">Codechef</button></a>
            </div>
            <div class="moreProjects">
                <a href="https://auth.geeksforgeeks.org/user/divyansh1802intern/articles" target="_blank"><button class="btn btnOfferLetter">GFG</button></a>
            </div>
            <!-- </p> -->
        </div>
    </div>


    <div class="experience">Skills</div>
    <div class="section2">
        <div class="scriptingLanguages">
            <h1><span class="skillHeading">Scripting</span> Languages</h1>
            <li>
                <h3>Python3</h3><span class="bar"><span class="python"></span>
                </span>
            </li>

            <li>
                <h3>Shell Script</h3><span class="bar"><span class="shellScript"></span></span>
            </li>
        </div>
        <div class="programmingLanguages">
            <h1><span class="skillHeading">Programming</span> Languages</h1>
            <li>
                <h3>C</h3><span class="bar"><span class="c"></span>
                </span>
            </li>

            <li>
                <h3>C++</h3><span class="bar"><span class="cPlusPlus"></span></span>
            </li>

            <li>
                <h3>C#</h3><span class="bar"><span class="cHash"></span></span>
            </li>
        </div>
    </div>

    <div class="section3">
        <div class="webDevelopment">
            <h1><span class="skillHeading">Web</span> Development</h1>
            <li>
                <h3>HTML</h3><span class="bar"><span class="html"></span>
                </span>
            </li>

            <li>
                <h3>CSS</h3><span class="bar"><span class="css"></span></span>
            </li>

            <li>
                <h3>React.Js</h3><span class="bar"><span class="react"></span></span>
            </li>

            <li>
                <h3>Flask</h3><span class="bar"><span class="flask"></span></span>
            </li>

            <li>
                <h3>Javascript</h3><span class="bar"><span class="javascript"></span></span>
            </li>
        </div>
    </div>

    <div class="section4">
        <div class="dataScience">
            <h1><span class="skillHeading">Data</span> Science</h1>
            <li>
                <h3>Numpy</h3><span class="bar"><span class="numpy"></span>
                </span>
            </li>

            <li>
                <h3>Pandas</h3><span class="bar"><span class="pandas"></span></span>
            </li>
        </div>
        <div class="miscelleneous">
            <h1><span class="skillHeading">Miscelleneous</span></h1>
            <li>
                <h3>Git</h3><span class="bar"><span class="git"></span>
                </span>
            </li>

            <li>
                <h3>Pygame</h3><span class="bar"><span class="pygame"></span></span>
            </li>

            <li>
                <h3>SQLAlchemy</h3><span class="bar"><span class="sqlalchemy"></span></span>
            </li>
        </div>
    </div>

    <div class="experience">Experience</div>
    <div class="section5">
        <div class="timeline">
            <ul>
                <li>
                    <div class="timeline-content">
                        <h3 class="date">18th Dec, 2020</h3>
                        <h1>SWE Intern at <a href="https://correlations.ai/#/home">Correlations.ai</a></h1>
                        <p>
                            This was an offcampus opportunity which I applied in and luckily got selected. Here I work on technologies like <b>React.js, Flask, MongoDB</b>.<br/>
                            <a href="../static/files/correlations_ai.pdf" target="_blank"><button class="btn btnOfferLetter">Certificate</button></a>
                        </p>
                    </div>
                </li>
                <li>
                    <div class="timeline-content">
                        <h3 class="date">9th Oct, 2020</h3>
                        <h1>Technical Content Writer at <a href="https://auth.geeksforgeeks.org/user/divyansh1802intern/articles">GeeksforGeeks</a></h1>
                        <p>
                            I was offered this opportunity after I've published 3-4 articles on GeeksforGeeks in various technologies like <b>React, Flask, Python</b> etc and I accepted this offer, till date I've published 9 articles on GeeksforGeeks and improved 2 pre-existing articles on GeeksforGeeks..<br/>
                            <a href="../static/files/gfg.pdf" target="_blank"><button class="btn btnOfferLetter">Offer Letter</button></a>
                        </p>
                    </div>
                </li>
                <li>
                    <div class="timeline-content">
                        <h3 class="date">2nd Aug, 2020</h3>
                        <h1>UI/UX Developer at <a href="https://tag-hive.com/">Taghive</a></h1>
                        <p>
                            I was offered this opportunity on 2nd aug 2020 and I accepted this offer. For those who don't know what Taghive is, <b>Taghive is a Samsung's backend ed-tech startup. More basically TagHive is an Online Learning Educational App for CBSE Students.</b> And during this internship I worked on an app called <a href="https://play.google.com/store/apps/details?id=com.tag_hive.saathi.saathi&hl=en_IN&gl=US">Class Saathi</a>.<br/>
                            <a href="../static/files/taghive.pdf" target="_blank"><button class="btn btnOfferLetter">Certificate</button></a>
                        </p>
                    </div>
                </li>
            </ul>
        </div>
    </div>

    <div class="experience projects">Projects</div>
    <div class="section6">
        <div class="card">
            <img src="../static/images/covidcare.JPG" alt="" width="36%">
            <p>
                <span class="cardHeading">
                    CovidCare - Commodity Distribution & Billing System
                </span>
                <p>
                    This platform was coded in Flask and basic html, css and was made to resolve three main issues during the Covid-19 lockdown.<br/> 1. Minimize the losses incurred by local shopkeepers.<br/> 2. Promote Digital Payment.<br/> 3. Reduce
                    the crowd on the streets.<br/>
                </p>
                <a href="https://github.com/RgnDunes/CovidCare-Commodity-Distribution-and-Billing-System-CoVID-19" target="_blank"><button class="btn btnOfferLetter">Github Link</button></a>
                <a href="https://dunes-covid-care.herokuapp.com/" target="_blank"><button class="btn btnOfferLetter">Deployed Link</button></a>

            </p>
        </div>
        <div class="card">
            <img src="../static/images/gitify.png" alt="" width="75%">
            <p>
                <span class="cardHeading">
                            Gitify
                        </span>
                <p>
                    This platform was coded in React.JS and Github API's. What is does is , you give a valid Github username and it gives you it's repos and its details in a user-friendly way.
                </p>
                <a href="https://github.com/RgnDunes/Gitify" target="_blank"><button class="btn btnOfferLetter">Github Link</button></a>
                <a href="https://rgndunes.github.io/Gitify/" target="_blank"><button class="btn btnOfferLetter">Deployed Link</button></a>

            </p>
        </div>
    </div>
    <div class="section6 sec6p2">
        <div class="card">
            <img src="../static//images/weather.png" alt="" width="18%">
            <p>
                <span class="cardHeading">
                        Weather Locator
                    </span>
                <p>
                    This platform was coded in Node.Js and WeatherStack API. What it does is you enter a location and it returns the current weather conditions and other info like wind speed etc.
                </p>
                <a href="https://github.com/RgnDunes/Weather-Locator" target="_blank"><button class="btn btnOfferLetter">Github Link</button></a>
                <a href="https://rgndunes-weather-locator-node.herokuapp.com/" target="_blank"><button class="btn btnOfferLetter">Deployed Link</button></a>

            </p>
        </div>
        <div class="card">
            <img src="../static/images/tictactoe.png" alt="" width="20%">
            <p>
                <span class="cardHeading">
                        Tic-Tac-Toe
                    </span>
                <p>
                    Nothing special, coded in Python , will be run in console/terminal. What's special is that you can play against computer as well as a real player. I bet you can't win against Computer.
                </p>
                <a href="https://github.com/RgnDunes/Tic-Tac-Toe" target="_blank"><button class="btn btnOfferLetter">Github Link</button></a>
                <a href="#" target="_blank"><button class="btn btnOfferLetter" disabled>Deployed Link</button></a>

            </p>
        </div>
    </div>
    <div class="moreProjects">
        <a href="/projects"><button class="btn btnOfferLetter">View more projects ...</button></a>
    </div>

    </div>

    <!-- FOOTER -->
    <footer>
        <div class="footer_bottom">
            Copyright &copy; rgndunes. All rights reserved.
        </div>
    </footer>
</body>

</html>