<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='projects.css')}}">
    <link rel="icon" href="../static/logo/halfLogoPortfolioV2Removebg.png">
    <title>rgndunes</title>
</head>

<body>

    <!-- NAVBAR -->
    <nav>
        <input type="checkbox" id="check">
        <label for="check" class="checkbtn">
            <i class="fas fa-bars">+</i>
        </label>
        <label class="logo"><img src="../static/logo/halfLogoPortfolioV2Removebg.png" alt=""></label>
        <ul>
            <li><a href="/" class="active">Home</a></li>
            <li><a href="/certificates">Certifications</a></li>
            <li><a href="/projects">Projects</a></li>
            <li><a href="/hobby">Hobby</a></li>
            <li><a href="/resume">Resume</a></li>
            <li><a href="/contact">Contact Me</a></li>
        </ul>
    </nav>

    <!-- BODY -->
    <div class="projHeader">
        Projects
        <div class="moreProjects">
            <a href="https://github.com/RgnDunes?tab=repositories" target="_blank"><button class="btn btnOfferLetter">Go to Github</button></a>
        </div>
    </div>
    <div class="section">
        <div class="card">
            <img src="../static/images/covidcare.JPG" alt="" width="36%">
            <p>
                <span class="cardHeading">
                    CovidCare - Commodity Distribution & Billing System
                </span>
                <p>
                    This platform was coded in Flask and basic html, css and was made to resolve three main issues during the Covid-19 lockdown.<br/> 1. Minimize the losses incurred by local shopkeepers.<br/> 2. Promote Digital Payment.<br/> 3. Reduce
                    the crowd on the streets.<br/>
                </p>
                <a href="https://github.com/RgnDunes/CovidCare-Commodity-Distribution-and-Billing-System-CoVID-19" target="_blank"><button class="btn btnOfferLetter">Github Link</button></a>
                <a href="https://dunes-covid-care.herokuapp.com/" target="_blank"><button class="btn btnOfferLetter">Deployed Link</button></a>

            </p>
        </div>
        <div class="card">
            <img src="../static/images/gitify.png" alt="" width="75%">
            <p>
                <span class="cardHeading">
                        Gitify
                    </span>
                <p>
                    This platform was coded in React.JS and Github API's. What is does is , you give a valid Github username and it gives you it's repos and its details in a user-friendly way.
                </p>
                <a href="https://github.com/RgnDunes/Gitify" target="_blank"><button class="btn btnOfferLetter">Github Link</button></a>
                <a href="https://rgndunes.github.io/Gitify/" target="_blank"><button class="btn btnOfferLetter">Deployed Link</button></a>

            </p>
        </div>
    </div>

    <div class="section">
        <div class="card">
            <img src="../static//images/weather.png" alt="" width="18%">
            <p>
                <span class="cardHeading">
                    Weather Locator
                </span>
                <p>
                    This platform was coded in Node.Js and WeatherStack API. What it does is you enter a location and it returns the current weather conditions and other info like wind speed etc.
                </p>
                <a href="https://github.com/RgnDunes/Weather-Locator" target="_blank"><button class="btn btnOfferLetter">Github Link</button></a>
                <a href="https://rgndunes-weather-locator-node.herokuapp.com/" target="_blank"><button class="btn btnOfferLetter">Deployed Link</button></a>

            </p>
        </div>
        <div class="card">
            <img src="../static/images/tictactoe.png" alt="" width="20%">
            <p>
                <span class="cardHeading">
                    Tic-Tac-Toe
                </span>
                <p>
                    Nothing special, coded in Python , will be run in console/terminal. What's special is that you can play against computer as well as a real player. I bet you can't win against Computer.
                </p>
                <a href="https://github.com/RgnDunes/Tic-Tac-Toe" target="_blank"><button class="btn btnOfferLetter">Github Link</button></a>
                <a href="#" target="_blank"><button class="btn btnOfferLetter" disabled>Deployed Link</button></a>

            </p>
        </div>
    </div>

    <div class="section">
        <div class="card">
            <img src="../static/images/standing.png" alt="" width="16%">
            <p>
                <span class="cardHeading">
                    Kill The Goblin
                </span>
                <p>
                    A 2D game made using an inbuilt module in Python named Pygame.
                </p>
                <a href="https://github.com/RgnDunes/Kill-The-Goblin" target="_blank"><button class="btn btnOfferLetter">Github Link</button></a>
                <a href="#" target="_blank"><button class="btn btnOfferLetter" disabled>Deployed Link</button></a>

            </p>
        </div>
        <div class="card">
            <img src="../static/images/letsBlog.png" alt="" width="15%">
            <p>
                <span class="cardHeading">
                        Let's Blog
                    </span>
                <p>
                    A simple but usefull platform, where you can save your blog's like I do. Made this blogging website so that I can write down all of my published blogs and articles on one place and allow other users to add their blog too.
                </p>
                <a href="https://github.com/RgnDunes/Let-s-Blog" target="_blank"><button class="btn btnOfferLetter">Github Link</button></a>
                <a href="#" target="_blank"><button class="btn btnOfferLetter" disabled>Deployed Link</button></a>

            </p>
        </div>
    </div>

    <div class="section">
        <div class="card">
            <img src="../static/images/black_white.jpeg" alt="" width="16%">
            <p>
                <span class="cardHeading">
                    Portfolio-V1
                </span>
                <p>
                    My first portfolio website that I ever made. I learned constantly and this portfolio, Portfolio-V2 is the result.
                </p>
                <a href="https://github.com/RgnDunes/Portfolio-v1" target="_blank"><button class="btn btnOfferLetter">Github Link</button></a>
                <a href="https://divyansh-singh-portfolio.herokuapp.com/" target="_blank"><button class="btn btnOfferLetter" disabled>Deployed Link</button></a>

            </p>
        </div>
    </div>

    <div class="moreProjects part2">
        <a href="https://github.com/RgnDunes?tab=repositories" target="_blank"><button class="btn btnOfferLetter">Go to Github</button></a>
    </div>


    <!-- FOOTER -->
    <footer>
        <div class="footer_bottom">
            Copyright &copy; rgndunes. All rights reserved.
        </div>
    </footer>

</body>

</html>