<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='resume.css')}}">
    <link rel="icon" href="../static/logo/halfLogoPortfolioV2Removebg.png">
    <title>rgndunes</title>
</head>

<body>

    <!-- NAVBAR -->
    <nav>
        <input type="checkbox" id="check">
        <label for="check" class="checkbtn">
            <i class="fas fa-bars">+</i>
        </label>
        <label class="logo"><img src="../static/logo/halfLogoPortfolioV2Removebg.png" alt=""></label>
        <ul>
            <li><a href="/" class="active">Home</a></li>
            <li><a href="/certificates">Certifications</a></li>
            <li><a href="/projects">Projects</a></li>
            <li><a href="/hobby">Hobby</a></li>
            <li><a href="/resume">Resume</a></li>
            <li><a href="/contact">Contact Me</a></li>
        </ul>
    </nav>

    <!-- BODY -->
    <div class="section">
        <div class="resumeHeader">
            My Resume
            <div class="moreProjects">
                <a href="https://drive.google.com/file/d/1oemwhnavzJiPKqNE3U6NrcAUFhnOsf_i/view?usp=sharing" download target="_blank"><button class="btn btnOfferLetter">Download</button></a>
            </div>
        </div>
        <div class="container">
            <embed src="../static/files/Divyansh_Singh_Resume.pdf#toolbar=0" type="application/pdf">
        </div>

    </div>

    <!-- FOOTER -->
    <footer>
        <div class="footer_bottom">
            Copyright &copy; rgndunes. All rights reserved.
        </div>
    </footer>

</body>

</html>